/*
* Skeleton V1.1
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 8/17/2011
*/


/* Table of Contents
==================================================
    #Base 960 Grid
    #Tablet (Portrait)
    #Mobile (Portrait)
    #Mobile (Landscape)
    #Clearing */



/* #Base 960 Grid
================================================== */




    .container                                  { position: relative; width: 944px; margin: 0 auto; padding: 0; 
    
    
    }
    .container .column,
    .container .columns                         { float: left; display: inline; margin-left: 5px; margin-right: 5px; 
    

    
    }
    
 	#top.wrap									{margin: 0px 20px 0px 20px; background-color: #F9F4F2;}
    
   

    /* Nested Column Classes */
    .column.alpha, .columns.alpha               { margin-left: 0; }
    .column.omega, .columns.omega               { margin-right: 0; }


    /* Base Grid */
    
    .container .one.column,
    .container .one.columns                     { width: 43px;  }
    .container .two.columns                     { width: 96px;  }
    .container .three.columns                   { width: 149px; }
    .container .four.columns                    { width: 202px; }
    .container .five.columns                    { width: 255px; }
    .container .six.columns                     { width: 308px; }
    .container .seven.columns                   { width: 361px; }
    .container .eight.columns                   { width: 414px; }
    .container .nine.columns                    { width: 467px; }
    .container .ten.columns, .ten               { width: 520px; }
    .container .eleven.columns                  { width: 573px; }
    .container .twelve.columns                  { width: 626px; }
    .container .thirteen.columns                { width: 679px; }
    .container .fourteen.columns                { width: 732px; }
    .container .fifteen.columns                 { width: 785px; }
    .container .sixteen.columns                 { width: 838px; }
	.container .seventeen.columns               { width: 891px; }
	.container .eighteen.columns                { width: 944px; }


    /* Offsets */
    .container .offset-by-one                   { margin-left: 53px;  }
    .container .offset-by-two                   { margin-left: 106px; }
    .container .offset-by-three                 { margin-left: 159px; }
    .container .offset-by-four                  { margin-left: 212px; }
    .container .offset-by-five                  { margin-left: 265px; }
    .container .offset-by-six                   { margin-left: 318px; }
    .container .offset-by-seven                 { margin-left: 371px; }
    .container .offset-by-eight                 { margin-left: 424px; }
    .container .offset-by-nine                  { margin-left: 477px; }
    .container .offset-by-ten                   { margin-left: 530px; }
    .container .offset-by-eleven                { margin-left: 583px; }
    .container .offset-by-twelve                { margin-left: 636px; }
    .container .offset-by-thirteen              { margin-left: 689px; }
    .container .offset-by-fourteen              { margin-left: 742px; }
    .container .offset-by-fifteen               { margin-left: 795px; }
    .container .offset-by-sixteen               { margin-left: 848px; }
    .container .offset-by-seventeen             { margin-left: 901px; }
    
	/* lizy's */
	#tagline{margin-top: 20px}
    #featured-details{padding-top: 18px;}
    .bottom-margin{margin-bottom: 40px;}
 	#next.bottom-margin{margin-bottom: 40px;}
	#header{padding: 40px 0px 120px 0px}
	#facebook{display: block;}
	#facebook-small{display: none;}	
	#about, #events{margin-top: 60px}

	


/* #Tablet (Portrait)================================================== */

    /* Note: Design for a width of 768px */
    
    
    

 
   @media only screen and (min-width: 520px) and (max-width: 1200px) {
        .container                                  { width: 746px;}
        .container .column,
        .container .columns                         { margin-left: 5px; margin-right: 5px;  }
        .column.alpha, .columns.alpha               { margin-left: 0; margin-right: 5px; }
        .column.omega, .columns.omega               { margin-right: 0; margin-left: 5px; }
        .alpha.omega                                { margin-left: 0; margin-right: 0; }

	    

	    #featured-photos img.six.columns                     	{ width: 202px; }             
		.container .eighteen.columns, 
		.container .fifteen.columns                             { width: 636px !important; margin-left: 43px; }
		





      
        /* Offsets */
        .container .offset-by-one		{margin-left: 0px; }

        .container .offset-by-two,
        .container .offset-by-three,
        .container .offset-by-four,
        .container .offset-by-five,
        .container .offset-by-six,
        .container .offset-by-seven,
        .container .offset-by-eight,
        .container .offset-by-nine,
        .container .offset-by-ten,
        .container .offset-by-eleven,
        .container .offset-by-twelve,
        .container .offset-by-thirteen,
        .container .offset-by-fourteen,
        .container .offset-by-fifteen
        .container .offset-by-sixteen,
        .container .offset-by-seventeen
        .container .eighteen.columns
                { margin-left: 43px; }
                
         
    
		/* lizy's */
		#tagline									{ margin-top: 20px }
		#next-content-padding						{ height: 170px; overflow: hidden;}
        #newsletter.six.columns						{ width: 215px; }
        #featured-photos img						{ width: 242px; }
		#featured-details							{ padding-top: 20px;}     
	    .bottom-margin{margin-bottom: 40px;}
	 	#next.bottom-margin{margin-bottom: 40px;}
	 	
	 		        .call-out							{width: 636px; top:655px !important;}
	 	.photo-cred 							{display: block;position: relative;left: 55px; top:685px !important;}

                


}

 @media only screen and (max-width: 1024px) {
 
 
}



 @media only screen and (max-width: 768px) {

        #top.wrap, #intro-wrap {margin: 0px !important;  }
        

       
}


@media only screen and (device-width: 768px) {
 
 		#intro {position: absolute !important;}
 		
 		#intro-wrap{
 		-webkit-background-size: auto !important;
 		-moz-background-size: auto !important;
 		-o-background-size: auto !important;
 		background-size: auto !important;
 			
 		}
 
}





/*  #Mobile (Portrait)
================================================== */

    /* Note: Design for a width of 520px */

    @media only screen and (max-width: 520px) {
        .container { width: 300px; }
        .container .columns,
        .container .column { margin: 0; }

        .container .one.column,
        .container .one.columns,
        .container .two.columns,
        .container .three.columns,
        .container .four.columns,
        .container .five.columns,
        .container .six.columns,
        .container .seven.columns,
        .container .eight.columns,
        .container .nine.columns,
        .container .ten.columns,
        .container .eleven.columns,
        .container .twelve.columns,
        .container .thirteen.columns,
        .container .fourteen.columns,
        .container .fifteen.columns,
        .container .sixteen.columns,
        .container .seventeen.columns,
        .container .eighteen.columns
{ width: 290px; }

        /* Offsets */
        .container .offset-by-one,
        .container .offset-by-two,
        .container .offset-by-three,
        .container .offset-by-four,
        .container .offset-by-five,
        .container .offset-by-six,
        .container .offset-by-seven,
        .container .offset-by-eight,
        .container .offset-by-nine,
        .container .offset-by-ten,
        .container .offset-by-eleven,
        .container .offset-by-twelve,
        .container .offset-by-thirteen,
        .container .offset-by-fourteen,
        .container .offset-by-fifteen
        .container .offset-by-sixteen,
        .container .offset-by-seventeen
        .container .eighteen.columns
                { margin-left: 0; }
                
        /* lizy's */
		#intro-wrap{display: none;}
		#mobile-header{display: block !important;}		
		#tagline{margin-top: 0px}
        #featured-photos { height: 216px; overflow: hidden; hidden; margin-bottom: 20px; }
        #featured-details{ padding-top: 0px;}
	    .bottom-margin{margin-bottom: 20px;}
	 	#next.bottom-margin{margin-bottom: 20px;}
	 	#organizers img{float: left; width: 75px; padding: 0px 10px 10px 0px;} 
	 	p, h4{font-size: 14px; line-height: 20px; margin: 0 0 10px 0; }
	 	#header{padding: 40px 0px 40px 0px}
		h1 {font-size: 30px;line-height: 30px;margin-bottom: 15px;}	        
		#about-content h3, #sub-footer h1, #sub-footer h3{text-align: left;}
		
		#top.wrap {margin: 0px;}	
		#facebook{display: none;}
		#facebook-small{display: block;}
		#sub-footer{text-align: left;}
		#sub-footer p#tweet{margin-right: 0px;}
		#footer p{margin-right: 110px;}
		
		#about {
margin-top: 0px !important;

}
		.top-button{display: none !important;}
		        #sub-footer-wrap{padding: 0px !important;}


    }






/* #Clearing
================================================== */

    /* Self Clearing Goodness */
    .container:after { content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }

    /* Use clearfix class on parent to clear nested columns,
    or wrap each row of columns in a <div class="row"> */
    .clearfix:before,
    .clearfix:after,
    .row:before,
    .row:after {
      content: '\0020';
      display: block;
      overflow: hidden;
      visibility: hidden;
      width: 0;
      height: 0; }
    .row:after,
    .clearfix:after {
      clear: both; }
    .row,
    .clearfix {
      zoom: 1; }

    /* You can also use a <br class="clear" /> to clear columns */
    .clear {
      clear: both;
      display: block;
      overflow: hidden;
      visibility: hidden;
      width: 0;
      height: 0;
    }

 	.clear-both {clear: both;}
